<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
  <!-- meta tags -->
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <meta id="_csrf" name="_csrf" th:content="${_csrf.token}" />
  <meta id="_csrf_header" name="_csrf_header" th:content="${_csrf.headerName}" />
  <!-- stylesheets -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
  <link rel="stylesheet" th:href="@{/css/background.css}" />
  <link rel="stylesheet" th:href="@{/css/timer.css}" />
  <link rel="stylesheet" th:href="@{/css/grid.css}" />
  <!-- scripts -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  <!-- favicon and title -->
  <link rel="icon" th:href="@{/img/favicon.ico}" />
  <title>Battleship</title>
</head>

<body>
  <!-- Background animation
  <div class="ocean">
  <div class="wave"></div>
  <div class="wave"></div>
  </div> -->
  <!-- navbar -->
  <header>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <div class="container-fluid">
        <a class="navbar-brand" href="#">Battleship</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item">
              <a class="nav-link" th:href="@{/}">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" th:href="@{/lobby}">Lobby</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" th:href="@{/profile}">Profile</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" th:href="@{/about}">About</a>
            </li>
          </ul>
          <form th:action="@{/logout}" method="post">
            <input type="submit" value="Logout" class="btn btn-outline-danger btn-lg my-2 my-sm-0" />
          </form>
        </div>
      </div>
    </nav>
    <div style="display: none" class="alert alert-warning alert-dismissible fade show container col-6" role="alert">
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
      <span id="resultMsg"></span>
    </div>
  </header>
  <main style="height:80%;" role="main" class="container col-10 mt-5">
    <div class="row">
      <h2 class="col-md-6">Your ships</h2>
      <h2 class="col-md-3 ml-3">Attack opponent</h2>
    </div>
    <div style="height:90%;" class="row">
      <div id="ownFieldMap" class="grid-container col-sm-5 mt-5 mr-2">
        <th:block th:fragment="ownFieldMap" th:each="p : ${myPoints}" th:switch="${p}">
          <div th:case="${T(de.queisler.battleship.businessLogic.enums.PointStatus).SHIP_BATTLESHIP}" class="grid-item" style="background: green;"></div>
          <div th:case="${T(de.queisler.battleship.businessLogic.enums.PointStatus).SHIP_CRUISER}" class="grid-item" style="background: yellow;"></div>
          <div th:case="${T(de.queisler.battleship.businessLogic.enums.PointStatus).SHIP_SUBMARINE}" class="grid-item" style="background: hotpink;"></div>
          <div th:case="${T(de.queisler.battleship.businessLogic.enums.PointStatus).SHIP_DESTROYER}" class="grid-item" style="background: orange;"></div>
          <div th:case="${T(de.queisler.battleship.businessLogic.enums.PointStatus).SHIP_CARRIER}" class="grid-item" style="background: purple;"></div>
          <div th:case="${T(de.queisler.battleship.businessLogic.enums.PointStatus).SHIP}" class="grid-item" style="background: red;"></div>
          <div th:case="${T(de.queisler.battleship.businessLogic.enums.PointStatus).WATER}" class="grid-item" style="background:blue;"></div>
          <div th:case="*" class="grid-item"></div>
        </th:block>
      </div>
      <div class="col-sm-1 countdown" id="countdown">
        <div class="countdown__fill" id="ticker"></div>
        <div class="countdown__digit" id="seconds">00</div>
      </div>
      <div id="enemyFieldMap" class="grid-container col-sm-5 ml-2 mt-5">
        <th:block th:fragment="enemyFieldMap" th:each="p, iter : ${opPoints}" th:switch="${p}">
          <div th:case="${T(de.queisler.battleship.businessLogic.enums.PointStatus).UNKNOWN}" th:attr="data-point=${iter.index}" class="grid-item" onclick="attack(this)"></div>
          <div th:case="${T(de.queisler.battleship.businessLogic.enums.PointStatus).WATER}" class="grid-item" style="background:blue;"></div>
          <div th:case="${T(de.queisler.battleship.businessLogic.enums.PointStatus).SHIP}" class="grid-item" style="background: red;"></div>
        </th:block>
      </div>
    </div>
    <div id="turnStatus"></div>
    <!-- Modal -->
    <div class="modal fade" id="gameResultModal" tabindex="-1" role="dialog">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="gameResultModalLongTitle">Game Result</h5>
            <button type="button" class="close" data-dismiss="modal" onclick="location.href='lobby';return false;">
            <span>&times;</span>
          </button>
          </div>
          <div class="modal-body">
            <p id="modalText"></p>
          </div>
          <div class="modal-footer">
            <button onclick="location.href='lobby';return false;" type="button" class="btn btn-primary">End game</button>
          </div>
        </div>
      </div>
    </div>
  </main>
  <!-- scripts -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/hammer.js/2.0.4/hammer.min.js"></script>
  <script type="text/javascript" th:src="@{/js/timer.js}"></script>
  <script type="text/javascript" th:src="@{/js/game.js}"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script type="text/javascript" th:src="@{/js/bootstrap.min.js}"></script>
</body>

</html>