<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" />
  <!-- Background animation -->
  <link rel="stylesheet" th:href="@{/css/background.css}" />
  <!-- Favicon -->
  <link rel="icon" th:href="@{/img/favicon.ico}" />

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  <title>Battleship</title>
</head>

<body>
  <!-- Background animation
  <div class="ocean">
    <div class="wave"></div>
    <div class="wave"></div>
  </div>-->
  <header>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <div class="container-fluid">
        <a class="navbar-brand" href="#">Battleship</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item">
              <a class="nav-link" th:href="@{/}">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item active">
              <a class="nav-link" th:href="@{/lobby}">Lobby</a>
              <!-- SET PROPER LINK -->
            </li>
            <li class="nav-item">
              <a class="nav-link" th:href="@{/profile}">Profile</a>
              <!-- SET PROPER LINK -->
            </li>
            <li class="nav-item">
              <a class="nav-link" th:href="@{/about}">About</a>
            </li>
          </ul>
          <form th:action="@{/logout}" method="post">
            <input type="submit" value="Logout" class="btn btn-outline-danger btn-lg my-2 my-sm-0" />
          </form>
        </div>
      </div>
    </nav>
  </header>
  <main style="height:75%;" role="main" class="container mt-5">
    <!-- Modal -->
    <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLongTitle">Game Invitation</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
          </div>
          <div class="modal-body">
            <p id="modalText"> DEFAULT </p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button onclick="location.href='lobby?invite='+user;return false;" type="button" class="btn btn-primary">Send</button>
          </div>
        </div>
      </div>
    </div>
    <div style="height:75%;" class="row">
      <div class="col-sm-10 mx-auto">
        <div class="jumbotron">
          <h1 class="display-4 mb-4">Choose your opponent...</h1>
          <table id="playerTable" th:fragment="playerTable" class="table table-hover">
            <thead>
              <tr>
                <th scope="col">Username</th>
                <th scope="col">First</th>
                <th scope="col">Last</th>
              </tr>
            </thead>
            <tbody>
              <div th:each="p : ${players}">
                <tr data-toggle="modal" data-target="#exampleModalCenter" th:data-user="${p.username}">
                  <td th:text="${p.username}">mark134</td>
                  <td th:text="${p.firstName}">Mark</td>
                  <td th:text="${p.lastName}">Otto</td>
                </tr>
              </div>
            </tbody>
          </table>
          <div id="invitations" th:fragment="invitedBy" th:object="${invitingPlayer}">
            <div th:if="${invitingPlayer != null}">
              <a type="button" class="btn btn-info" th:text="'Accept invitation from ' + ${invitingPlayer.username}" th:href="@{/lobby?acceptInvitation}"></a>
            </div>
          </div>
          <div id="acceptedInvitations" th:fragment="acceptedInvitations" th:object="${opponent}">
            <div th:if="${opponent != null}">
              <script type="text/javascript">
                window.location.href = "/placeShips";
              </script>
            </div>
          </div>
          <script>
            var user;
            $('#exampleModalCenter').on('show.bs.modal', function(e) {
              user = e.relatedTarget.dataset.user;
              document.getElementById("modalText").innerHTML = "Do you really want to send an invite to " + user.bold() + "?";
            });
          </script>
        </div>
      </div>
    </div>
  </main>
  <!--Footer-->
  <footer class="page-footer blue center-on-small-only">
    <!--Footer Links-->
    <div class="container-fluid">
      <div class="row">
        <!--First column-->
        <div class="col-md-6">
          <h5 class="title">Whyqueue Games</h5>
          <p>This website is open source. You can download all my projects from Github.</p>
        </div>
        <!--/.First column-->
      </div>
    </div>
    <!--/.Footer Links-->
    <!--Copyright-->
    <div class="footer-copyright">
      <div class="container-fluid">
        © 2018 Copyright: <a href="https://github.com/devWhyqueue"> devWhyqueue </a>
      </div>
    </div>
    <!--/.Copyright-->
  </footer>
  <!--/.Footer-->
  <script type="text/javascript">
    function reloadTable() {
      var url = '/lobby?updateTable';
      $("#playerTable").load(url);
    }

    function reloadInvitations() {
      var url = '/lobby?checkInvitations';
      $("#invitations").load(url);
    }

    function reloadAcceptedInvitations() {
      var url = '/lobby?checkAcceptedInvitations';
      $("#acceptedInvitations").load(url);
    }
    setInterval(function() {
      reloadTable();
      reloadInvitations();
      reloadAcceptedInvitations(); // this will run after every 5 seconds
    }, 5000);
  </script>
  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script type="text/javascript" th:src="@{/js/bootstrap.min.js}"></script>
</body>

</html>