<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
  <!-- meta tags -->
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <!-- stylesheets -->
  <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" />
  <link rel="stylesheet" th:href="@{/css/background.css}" />
  <!-- favicon and title -->
  <link rel="icon" th:href="@{/img/favicon.ico}" />
  <title>Battleship</title>
</head>

<body>
  <!-- Background animation
  <div class="ocean">
  <div class="wave"></div>
  <div class="wave"></div>
  </div> -->
  <!-- navbar -->
  <header>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <div class="container-fluid">
        <a class="navbar-brand" href="#">Battleship</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item">
              <a class="nav-link" th:href="@{/}">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" th:href="@{/lobby}">Lobby</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" th:href="@{/profile}">Profile</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" th:href="@{/about}">About</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </header>
  <main style="height:80%;" role="main" class="container">
    <div style="height:80%;" class="row align-items-center">
      <div class="col-sm-10 mx-auto">
        <h1 class="text-center mb-4">Welcome back, sailor!</h1>
        <div class="col-8 mx-auto">
          <form class="form-signin" th:action="@{/login}" method="post">
            <div class="text-danger mb-2" th:if="${param.error}">
              <b>Invalid username or password!</b>
            </div>
            <div class="text-info mb-2" th:if="${param.logout}">
              <b>You have been logged out.</b>
            </div>
            <label for="username" class="sr-only">Username</label>
            <input type="text" name="username" class="form-control" placeholder="Username" required="true" autofocus="true" />
            <label for="password" class="sr-only">Password</label>
            <input type="password" name="password" class="form-control" placeholder="Password" required="true" />
            <input style="background: #015871;" class="btn btn-lg btn-primary btn-block mt-3" type="submit" value="Sign in" />
          </form>
        </div>
      </div>
    </div>
  </main>
  <!--Footer-->
  <footer class="page-footer blue center-on-small-only">
    <!--Footer Links-->
    <div class="container-fluid">
      <div class="row">
        <!--First column-->
        <div class="col-md-6">
          <h5 class="title">Whyqueue Games</h5>
          <p>This website is open source. You can download all my projects from Github.</p>
        </div>
        <!--/.First column-->
      </div>
    </div>
    <!--/.Footer Links-->
    <!--Copyright-->
    <div class="footer-copyright">
      <div class="container-fluid">
        © 2018 Copyright: <a href="https://github.com/devWhyqueue"> devWhyqueue </a>
      </div>
    </div>
    <!--/.Copyright-->
  </footer>
  <!--/.Footer-->
  <!-- scripts -->
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script type="text/javascript" th:src="@{/js/bootstrap.min.js}"></script>
</body>

</html>