<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="./css/bootstrap.min.css">
  <!-- Background animation -->
  <link rel="stylesheet" href="./css/background.css">
  </link>
  <!-- Favicon -->
  <link rel="icon" href="./img/favicon.ico">
  <title>Battleship</title>
</head>

<body>
  <!-- Background animation -->
  <div class="ocean">
    <div class="wave"></div>
    <div class="wave"></div>
  </div>
  <header>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <a class="navbar-brand" href="#">Battleship</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" href="./home.html">Home</a>
            <!-- SET DYNAMIC LINK (VISITOR/USER) -->
          </li>
          <li class="nav-item">
            <a class="nav-link" href="./lobby.html">Lobby</a>
            <!-- SET PROPER LINK -->
          </li>
          <li class="nav-item">
            <a class="nav-link" href="./profile.html">Profile</a>
            <!-- SET PROPER LINK -->
          </li>
          <li class="nav-item">
            <a class="nav-link" href="./about.html">About</a>
          </li>
        </ul>
      </div>
    </nav>
  </header>
  <main style="height:80%;" role="main" class="container">
    <div style="height:80%;" class="row align-items-center">
      <div class="mx-auto">
        <h1 class="text-center mb-4">Welcome back, sailor!</h1>
        <div class="col-8 mx-auto">
          <form class="form-signin">
            <label for="inputUsername" class="sr-only">Username</label>
            <label class="text-danger invisible"><b>Wrong username or password!</b></label>
            <!-- DYNAMICALLY ENABLE/DISABLE IT -->
            <input type="text" id="inputUsername" class="form-control" placeholder="Username" required autofocus>
            <label for="inputPassword" class="sr-only">Password</label>
            <input type="password" id="inputPassword" class="form-control" placeholder="Password" required>
            <button style="background: #015871;" class="btn btn-lg btn-primary btn-block mt-3" type="submit">
                        Sign in
                    </button>
          </form>
        </div>
      </div>
    </div>
  </main>
  <!--Footer-->
  <footer class="page-footer blue center-on-small-only">
    <!--Footer Links-->
    <div class="container-fluid">
      <div class="row">
        <!--First column-->
        <div class="col-md-6">
          <h5 class="title">Whyqueue Games</h5>
          <p>This website is open source. You can download all my projects from Github.</p>
        </div>
        <!--/.First column-->
      </div>
    </div>
    <!--/.Footer Links-->
    <!--Copyright-->
    <div class="footer-copyright">
      <div class="container-fluid">
        © 2018 Copyright: <a href="https://github.com/devWhyqueue"> devWhyqueue </a>
      </div>
    </div>
    <!--/.Copyright-->
  </footer>
  <!--/.Footer-->
  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script type="text/javascript" src='./js/bootstrap.min.js'></script>
</body>

</html>