<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" />
  <!-- Background animation -->
  <link rel="stylesheet" th:href="@{/css/background.css}" />
  <!-- Favicon -->
  <link rel="icon" th:href="@{/img/favicon.ico}" />
  <title>Battleship</title>
</head>

<body>
  <!-- Background animation
  <div class="ocean">
    <div class="wave"></div>
    <div class="wave"></div>
  </div>-->
  <header>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <div class="container-fluid">
        <a class="navbar-brand" href="#">Battleship</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item">
              <a class="nav-link" href="./home.html">Home <span class="sr-only">(current)</span></a>
              <!-- SET DYNAMIC LINK (VISITOR/USER) -->
            </li>
            <li class="nav-item">
              <a class="nav-link" href="./lobby.html">Lobby</a>
              <!-- SET PROPER LINK -->
            </li>
            <li class="nav-item">
              <a class="nav-link" href="./profile.html">Profile</a>
              <!-- SET PROPER LINK -->
            </li>
            <li class="nav-item">
              <a class="nav-link" href="./about.html">About</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </header>
  <main style="height:80%;" role="main" class="container">
    <div style="height:80%;" class="row align-items-center">
      <div class="col-sm-6 mx-auto">
        <h1 class="text-center mb-4">Come on board!</h1>
        <form role="form" th:object="${player}" th:action="@{/register}" method="post">
          <div class="text-danger mb-2" th:if="${error}">
            <b th:text="${error}">Username already exists!</b>
          </div>
          <div class="form-row">
            <div class="form-group w-50">
              <input type="text" th:field="*{firstName}" class="form-control" placeholder="First Name" required autofocus>
            </div>
            <div class="form-group w-50">
              <input type="text" th:field="*{lastName}" class="form-control" placeholder="Last Name" required>
            </div>
          </div>
          <div class="form-row">
            <div class="form-group w-100">
              <input type="text" minlength="3" th:field="*{username}" class="form-control" placeholder="Username"
                     required>
            </div>
          </div>
          <div class="form-row">
            <div class="form-group w-50">
              <input type="password" id="password" minlength="5" th:field="*{password}" class="form-control"
                     placeholder="Password" required>
            </div>
            <div class="form-group w-50">
              <input type="password" minlength="5" class="form-control" placeholder="Confirm Password"
                     oninput="check(this)" required>
            </div>
            <script language="javascript" type="text/javascript">
              function check(input) {
                if (input.value != document.getElementById('password').value) {
                  input.setCustomValidity('Passwörter müssen übereinstimmen!');
                } else {
                  input.setCustomValidity('');
                }
              }
            </script>
          </div>
          <input style="background: #015871;" type="submit" value="Register" class="btn btn-info btn-block">
        </form>
      </div>
    </div>
  </main>
  <!--Footer-->
  <footer class="page-footer blue center-on-small-only">
    <!--Footer Links-->
    <div class="container-fluid">
      <div class="row">
        <!--First column-->
        <div class="col-md-6">
          <h5 class="title">Whyqueue Games</h5>
          <p>This website is open source. You can download all my projects from Github.</p>
        </div>
        <!--/.First column-->
      </div>
    </div>
    <!--/.Footer Links-->
    <!--Copyright-->
    <div class="footer-copyright">
      <div class="container-fluid">
        © 2018 Copyright: <a href="https://github.com/devWhyqueue"> devWhyqueue </a>
      </div>
    </div>
    <!--/.Copyright-->
  </footer>
  <!--/.Footer-->
  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script type="text/javascript" th:src="@{/js/bootstrap.min.js}"></script>
</body>

</html>